*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

.Body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 50px;
    padding-bottom: 10px;
}
.Body .dishCards{
    width: 80vw;
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 10px;
}
.Body h2{
   margin: auto;
}
.Body .searchBar{
    margin: 5px 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.Body .searchBar .searchRestaurant{
    display: flex;
    gap: 5px;
}
.Body .searchBar .searchRestaurant input{
    width: 250px;
    padding: 3px 5px;
    margin-left: 5px;
}
#searchBtn{
    padding: 4px 5px;
    background-color: rgb(121, 239, 121) ;
    border: 1px solid  rgb(121, 239, 121);
    border-radius: 3px;
    cursor: pointer;
    color: black;
    font-weight: bolder;
}
.filters{
    display: flex;
    gap: 10px;
}
#topRes{
    width: 160px;
    padding: 4px 5px;
    background-color: rgb(121, 239, 121) ;
    border: 1px solid  rgb(121, 239, 121);
    border-radius: 3px;
    cursor: pointer;
    color: black;
    font-weight: bolder;
}
#vegRes{
    padding: 4px 20px;
    background-color: rgb(121, 239, 121) ;
    border: 1px solid  rgb(121, 239, 121);
    border-radius: 3px;
    cursor: pointer;
    color: black;
    font-weight: bolder;
}
.Body .resContainer{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 5px 10px;
}
.cardStyle{
    text-decoration: none;
    color: black;
}
.PaginationBox{
    margin: auto;
    display: flex;
    gap: 10px;
}
#PageButton{
    padding: 2px 5px;
    background-color: blue;
    color: white;
    border: 1px #ebebeb;
}